/* GLOBAL STYLEs */
:root{
    --primary-color:  #08A142;
    --secondary-color: #67F74B;
    --darkgreen: #033817;
    --light-shade-green: #E6F6EC;
    --pricing-section-bg: #F0FEED;
    --pricing-border-color: #3E823D;
    --black: #000000;
    --white: #ffffff;
    --footer-text-color :#3D4F60;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body{
  margin: 4.5rem 0 0 0;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px 24px;
}


/* Desktop view first */

/* HEADER SECTION */
.farmaid-header{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background:var(--bg-color);
     font-family:  'Open Sans', sans-serif;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.14);
}
.farmaid-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.farmaid-nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.farmaid-nav-link{
    transition: all 0.3s ;
    color: var(--nav-text-color);
}
.farmaid-nav-link.active{
    color: var(--primary-color);
}
.farmaid-nav-link:hover{
    color: var(--primary-color);
}

  
.farmaid-hamburger{
    display: none;
    cursor: pointer;
}
  .bar{
    width: 20px;
    height: 3px;
    display: block;
    background-color: var(--black);
    margin: 3px 0;
    transition: all 0.3s ease;
  }
.farmaid-login-button{
    background: rgba(19, 21, 21, 0.12);
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    color:  rgba(19, 21, 21, 0.38);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
} 
.farmaid-login-button:hover{
    background: var(--primary-color);
    color: var(--white);  
}



/*for tablets screen*/
 @media (max-width:900px){

    .farmaid-nav-menu{
      position: fixed;
      left: -100%;
      top: 67px;
      gap: 0;
      flex-direction: column;
      justify-content: flex-start;
      background-color: var(--bg-color);
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      width: 100%;
      height: 100vh;
      transition: 0.3s;
    
    }
  
  .farmaid-nav-menu.active{
    left: 0;
    }
  .farmaid-nav-item{
    margin: 18px 0;
    text-align: center;
    }
     .farmaid-login-button{
         margin-top:4rem;
     }

    /* hamburger tweak*/
 .farmaid-hamburger{
    display: block;
    transition: all 0.3s ease-in-out;
    }

 .bar{
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

  .farmaid-hamburger.active .bar:nth-child(2){
      opacity: 0;
    }

  .farmaid-hamburger.active .bar:nth-child(1){
      transform: translateY(6px) rotate(45deg);
    }

  .farmaid-hamburger.active .bar:nth-child(3){
      transform: translateY(-6px) rotate(-45deg);
    }
  
  }